<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accont</title>
    <link rel="stylesheet" href="accountverified.css">
</head>

<body>
    
<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>Hustle</span>Up</a>
</header>


<section class="home" id="home">

    <div class="content">
       
        <p>Account Verified,you can go back to login screen</p>
        
    </div>
</section>    
</body>
</html>